.table-fixed tbody {
	height: 250px;
	overflow-y: auto;
	width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
	display: block;
}

.table-fixed tr:after {
	content: "";
	display: block;
	visibility: hidden;
	clear: both;
}

.table-fixed tbody td,
.table-fixed thead > tr > th {
	float: left;
}

/*
.table-fixed thead th{
	border: 1px solid #ccc;
}


.table-fixed tbody td{
	padding:.5rem;	
}
*/

.actif{
	color:#9999ff;
}

.table-fixed tbody tr.selected{
	background-color:#123456;
	color:#fff;
}

.selected{
	background-color:#123456;
	color:#FFF;
}